{% extends "base.html.twig" %}
{% block title %} Indexy {% endblock %}

{#
foreach ($dane as $indeks => $wartosc) {
    if ($wartosc->getDescription() == '217230'){
        $inflacjaRok = $wartosc->getYear();
        $inflacjaId = $wartosc->getDescription();
        $inflacjaWartosc = $wartosc->getDataValue();
    }
}
#}

{% block body %}
    <table style="border-collapse: collapse; border: 2px solid black;">
        <tr>
            <th style="border: 1px solid black; padding: 8px;">Rok</th>
            <th style="border: 1px solid black; padding: 8px;">Przeciętne miesięczne wynagrodzenia brutto</th>
            <th style="border: 1px solid black; padding: 8px;">Wskaźnik cen towarów i usług konsumpcyjnych (pot. inflacja)</th>
            <th style="border: 1px solid black; padding: 8px;">Przeciętna miesięczna emerytura z pozarolniczego systemu ubezpieczeń społecznych</th>
            <th style="border: 1px solid black; padding: 8px;">Produkt krajowy brutto na 1 mieszkańca</th>
        </tr>
            {% set flaga = true %}
        {% for wartosc in dane %}
                {% if wartosc.getYear() == '2007' %}
                        {% if flaga %}
                         <td style="border: 1px solid black; padding: 8px; text-align: center;">{{ wartosc.year }}</td>
                        {% endif %}
                    {% set flaga = false %}
                    {% if wartosc.description == '64428' %}
                        <td style="border: 1px solid black; padding: 8px; text-align: center;">{{ wartosc.dataValue }}</td>
                    {% endif %}
                    {% if wartosc.description == '217230' %}
                        <td style="border: 1px solid black; padding: 8px; text-align: center;">{{ wartosc.dataValue }}</td>
                    {% endif %}
                    {% if wartosc.description == '155058' %}
                        <td style="border: 1px solid black; padding: 8px; text-align: center;">{{ wartosc.dataValue }}</td>
                    {% endif %}
                    {% if wartosc.description == '458421' %}
                        <td style="border: 1px solid black; padding: 8px; text-align: center;">{{ wartosc.dataValue }}</td>
                    {% endif %}
                {% endif %}
        {% endfor %}
    </table>

{% endblock %}